html {
	font-family: Helvetica, sans-serif
}

.shadow {
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#canvas {
	border: 2px solid #000000;
}

#hiddenhtml {
	display: none;
}

#maintable {

}

#area_list {
	width: 520px;
	overflow-y: auto;
	border: 1px solid #7777AA;
}

#new_elem_box {
	height: 120px;
}

.right_list {
	width: 480px;
}

.tab {
	display: table;
}

.tr {
	display: table-row;
}

.tc {
	display: table-cell;
}

.tph {
	width: 8px;
}

.area_pos .tc {
	padding: 2px;
	text-align: center;
}

.area_pos input {
	width: 64px;
}

.box {
	border: 1px solid #7777AA;
	margin: 8px;
}

.bt {
	padding: 4px;
	background-color: #7777AA;
}

.bc {
	background-color: #FFFFFF;
	padding: 4px;
}

.vn {
	padding: 2px;
}

.vi {

}

.invalid {
	background-color: #FF0000;
}

.bt.area_title {
	padding: 0;
}

.area_header {
	margin: 4px;
	display: inline-block;
}

.area_ctrl_group {
	white-space: initial;
	display: inline-block;
	float: right;
	cursor: pointer;
}

.area_ctrl {
	background-color: #7777AA;
	mix-blend-mode: multiply;
}

.text_opts tc {
	padding: 2px;
}