html {
	font-family: Helvetica, sans-serif
}

.shadow {
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#canvas {
	border: 2px solid #000000;
}

#hiddenhtml {
	display: none;
}

.tab {
	display: table;
}

.tr {
	display: table-row;
}

.tc {
	display: table-cell;
}

.tph {
	width: 8px;
}

.tab .tc {
	padding: 2px;
	text-align: center;
}

.tab input {
	width: 64px;
}

.box {
	width: 600px;
	border: 1px solid #7777AA;
	margin: 8px;
}

.bt {
	background-color: #7777AA;
}

.bc {
	background-color: #FFFFFF;
	padding: 4px;
}

.vn {
	padding: 2px;
}

.vi {

}

.invalid {
	background-color: #FF0000;
}

.box_header {
	margin: 4px;
	display: inline-block;
}

.box_ctrl_group {
	white-space: initial;
	display: inline-block;
	float: right;
	cursor: pointer;
}

.box_ctrl {
	mix-blend-mode: multiply;
}
